<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!-- Set this to folder "svg\MIL_STD_2525D_Symbols" within clone of repo: Esri\joint-military-symbology-xml , ex: -->
    <!-- <add key="SVGImagesHome" value="C:\Github\joint-military-symbology-xml\svg\MIL_STD_2525D_Symbols" /> -->
  </appSettings>  
</configuration>